[Desktop Entry]
Encoding=UTF-8
Name=Link to https://cdn.iconscout.com/public/images/icon/premium/png-512/fan-electric-computer-cpu-cooler-desktop-hardware-case-propeller-device-3abda7853b66274e-512x512.png
Type=Link
URL=https://cdn.iconscout.com/public/images/icon/premium/png-512/fan-electric-computer-cpu-cooler-desktop-hardware-case-propeller-device-3abda7853b66274e-512x512.png
Icon=image-png
Name[en_CA]=fan1.png
