[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.scan.co.uk/images/infopages/corsair_cooler/h75/fans.png
Type=Link
URL=https://www.scan.co.uk/images/infopages/corsair_cooler/h75/fans.png
Icon=image-png
Name[en_CA]=fan2.png
